# ignore everything
/*

# Not these directories
!docs/
!snippets/
!templates/

# But do NOT ignore these files
!.gitignore
!README.MD
!extensions-*.*
!keybindings.json
!keyboard-shortcuts-windows.pdf
!settings.json
!workspace-template.code-workspace
