# ignore everything
/*

# Not these directories
!docs/
!snippets/
!templates/

# Not theese files
!.gitignore
!README.MD
!extensions-*.*
!keybindings.json
!keyboard-shortcuts-windows.pdf
!settings.json
